body {
    background: #000066;
  }

  .jumbotron {
    background: #333;
    color: white;
  }
  
  h1{
    font-family: 'Ribeye Marrow', cursive;
  }

  .logo{
    color: white;
    font-family: 'Ribeye Marrow', cursive;
  }
  form{
    color: black;
  }


.title{
  padding-bottom: .25em;
  padding-bottom: 0;
}
  
.swipeContainer{
  padding: 1em
}
.swipe{
  display: inline-block;
  border: 2px solid gray;
  padding: 5px;
}
.hollow{
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.float-right{
  float: right!important;
}
.float-left{
  float: left!important;
}